body{ 
  margin-bottom: 5%;
  background: #f0f2f5;
}

.navbar-style{
  background: #212d40;
}

.navbar-brand{
  font-size: 1.6em;
  color: white;
}

.nav-link{
  color: white;
}

.align-right{
  margin-left: 80%;
}

h1{
  font-size: 2em;
}

nav{
  margin-bottom: 5%;
}

.right-card{
  margin: 0 0 auto 15%;
  
}

.card{
  height: 10em;
  border: solid 0.5px;
  border-color:#a6afbd;
  width: 40%;
  margin:0 5% 5% 5%;
}

.card-selected{
  border: #b9cceb solid 3px;
}

.logo-img{
   max-height: 100%;
    max-width: 90%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.title{
  color:#212d40;
  font-size: 2.5em;
}

.line{
  margin-top: 1%;
}

.line2{
  margin-top: 5%;
}
.btn-custom{
  
  background-color:#212d40;
  color: white;
  margin-left:5%;
}

.total-cost{
  font-size: 1.3em;
}

.equal{
  border-width:2px;
  border-color:#212d40; 
}